{% extends "admin/base.html" %}
{% load i18n adminmedia %}
{% load url from future %}
{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}admin/css/forms.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}w3af_webui/css/extra.css" />
<script type="text/javascript" src="{{ STATIC_URL }}w3af_webui/flot/jquery.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}w3af_webui/flot/jquery.flot.js"></script>
{% endblock %}

{% block title %}{% trans 'Statistic Report' %}{% endblock %}
{% block content %}
<div>
<div style="float: left; padding: 10px;">
<h1>Топ 5 сервисов по количеству уязвимостей, обнаруженных на последнем
успешном сканировании</h1>
<div id="last_scan_vuln" class="flot-charts"></div>
<br/><h1>Топ 5 сервисов по количеству критичных уязвимостей, обнаруженных на
последнем успешном сканировании</h1>
<div id="last_scan_critic_vuln" class="flot-charts"></div>
<br/><h1>Топ 5 сервисов по количеству непросмотренных отчётов с уязвимостями</h1>
<div id="top_not_show_report" class="flot-charts"></div>
<br/><h1>Топ 5 сервисов по количеству дней, прошедших с последнего успешного сканирования</h1>
<div id="downtime" class="flot-charts"></div>
<br/><h1>Количество активных сервисов</h1>
<div id="active_target" class="flot-charts"></div>
Для даты X посчитано количество сервисов у которого есть хотя бы одно успешное
сканирование с просмотренным отчетов за период [X-3 месяца, X]</br>
<br/><h1>Количество проведенных сканирований по дням</h1>
<div id="scan_count_chart" class="flot-charts"></div>
<br/><h1>Количество найденных уязвимостей</h1>
<div id="vuln_count_chart" class="flot-charts"></div>
</div>
</div>
<script type="text/javascript">
$(function() {
    var line_options = {
        series: { lines: { show: true },
                  points: { show: false },
        },
        grid: { hoverable: true,
                clickable: true
        },
        xaxis: { mode: "time" },
        yaxis: { show: true,
                 minTickSize: 1,
                 tickDecimals: 0,
        },
    };
    var line_without_points = line_options; 
    var bar_option = {
        series: {stack: 0,
                 lines: {show: false, steps: false },
                 bars: {show: true, barWidth: 0.7, align: 'center',},
        },
        yaxis: { show: true,
                 minTickSize: 1,
                 tickDecimals: 0,
        },
    };
    //top target for vulnerabilities
    bar_option["xaxis"] = {ticks: {{ last_scan_vuln_label|safe }}}
    $.plot($("#last_scan_vuln"),  {{ last_scan_vuln|safe }} , bar_option); 
    //top target for vulnerabilities
    bar_option["xaxis"] = {ticks: {{ last_scan_critic_vuln_label|safe }}}
    $.plot($("#last_scan_critic_vuln"), {{ last_scan_critic_vuln|safe }}, bar_option); 
    //top not show report count
    bar_option["xaxis"] = {ticks: {{ top_not_show_report_label|safe }}}
    $.plot($("#top_not_show_report"), {{ top_not_show_report|safe }}, bar_option); 
    //top downtime
    bar_option["xaxis"] = {ticks: {{ downtime_label|safe }}}
    $.plot($("#downtime"), {{ downtime|safe }}, bar_option); 
    $.plot($("#scan_count_chart"), [ {{ scan_count }} ], line_options);
    $.plot($("#vuln_count_chart"), {{ vuln_count|safe }}, line_options);
   
    line_options['series'] =  { lines: { show: true }, 
                                points: { show: false }, },
    $.plot($("#active_target"), [ {{ active_target }} ], line_without_points);

    function showTooltip(x, y, contents) {
        $('<div id="tooltip">' + contents + '</div>').css( {
        position: 'absolute',
        //display: 'none',
        top: y + 5,
        left: x + 5,
        border: '1px solid #fdd',
        padding: '2px',
        'background-color': '#fee',
        opacity: 0.80
    }).appendTo("body").fadeIn(200);
    }
    var previousPoint = null;
    function plothover_handler(item){
        if (item) {
            if (previousPoint != item.dataIndex) {
                previousPoint = item.dataIndex;
                $("#tooltip").remove();
                var x = new Date(item.datapoint[0] - 14400000);
                var y = item.datapoint[1];
                showTooltip(item.pageX, item.pageY, y + " - " + x.toDateString());
            }
        } 
        else {
            $("#tooltip").remove();
            previousPoint = null;    
        }
    }
    $("#active_target").bind("plothover", function (event, pos, item)
    {
            plothover_handler(item);
    });
    $("#scan_count_chart").bind("plothover", function (event, pos, item){
            plothover_handler(item);
    });
    $("#vuln_count_chart").bind("plothover", function (event, pos, item){
            plothover_handler(item);
    });


    
})

</script>

{% endblock %}
