{% extends "admin/base.html" %}
{% load i18n adminmedia %}
{% load url from future %}
{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}admin/css/forms.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}w3af_webui/css/extra.css" />
<script type="text/javascript" src="{{ STATIC_URL }}w3af_webui/flot/jquery.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}w3af_webui/flot/jquery.flot.js"></script>
{% endblock %}
{% block title %}{% trans 'Statistic Report' %}{% endblock %}
{% block content %}
<fieldset class="module aligned ">
<div class="form-row name">
<label>{% trans 'Target' %}:</label>
<p> {{target.name}}</p>
<label>{% trans 'URL' %}:</label>
<p> {{target.url}}</p>
<label>{% trans 'Profiles' %}:</label>
<p> {{profiles}}</p>
<br/>
<a href='../../target/{{target.id}}'>{% trans 'Edit' %}</a>
</div>
</fieldset>
<div>
<div style="float: left; padding: 10px;">
<br/><h1>Количество найденных уязвимостей по типам</h1>
<div id="vuln_count_by_type" class="flot-charts"></div>
<br/><h1>Количество найденных уязвимостей по уровню критичности</h1>
<div id="vuln_count_by_severity" class="flot-charts"></div>
<br/><h1>Сколько дней отчет находился был/есть непросмотрен (Только для успешных
сканирований)</h1>
<div id="not_show_time" class="flot-charts"></div>
</div>
</div>
<script type="text/javascript">
$(function() {
    var line_options = {
        series: { lines: { show: true },
                  points: { show: false },
        },
        grid: { hoverable: true,
                clickable: true
        },
        xaxis: { mode: "time" },
        yaxis: { show: true },
    };
    //top target for vulnerabilities
    $.plot($("#vuln_count_by_type"), {{ vuln_count_by_type|safe }}, line_options);
    $.plot($("#vuln_count_by_severity"), {{ vuln_count_by_severity|safe }}, line_options);
    $.plot($("#not_show_time"), {{ not_show_time }}, line_options);
    
    function showTooltip(x, y, contents) {
        $('<div id="tooltip">' + contents + '</div>').css( {
        position: 'absolute',
        //display: 'none',
        top: y + 5,
        left: x + 5,
        border: '1px solid #fdd',
        padding: '2px',
        'background-color': '#fee',
        opacity: 0.80
    }).appendTo("body").fadeIn(200);
}
    var previousPoint = null;
    function plothover_handler(item){
        if (item) {
            if (previousPoint != item.dataIndex) {
                previousPoint = item.dataIndex;
                $("#tooltip").remove();
                var x = new Date(item.datapoint[0] - 14400000);
                var y = item.datapoint[1];
                showTooltip(item.pageX, item.pageY, y + " - " + x.toDateString());
            }
        } 
        else {
            $("#tooltip").remove();
            previousPoint = null;    
        }
    }

    $("#vuln_count_by_type").bind("plothover", function (event, pos, item) {
            plothover_handler(item);
    });
    $("#vuln_count_by_severity").bind("plothover", function (event, pos, item) {
            plothover_handler(item);
    });
    $("#not_show_time").bind("plothover", function (event, pos, item) {
            plothover_handler(item);
    });
})
</script>
{% endblock %}
