{% extends "admin/base.html" %}
{% load i18n adminmedia %}
{% load url from future %}
{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}admin/css/forms.css" />
<script type="text/javascript" src="{{ STATIC_URL }}admin/js/jquery.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}admin/js/jquery.init.js"></script>
{% endblock %}

{% block title %}{% trans 'Vulnerability Report' %}{% endblock %}
{% block content %}
<h2>{% trans 'Scan information' %}</h2>
<table class="targets">
    <tr>
        <th>{% trans 'Targets' %}</th>
         <td>{{ target|escape }}</td>
     </tr>
</table>
<br/>
<form id="severity_form" action="" method="get">
    {% trans 'Filter by severity:' %} 
    {{ severity_filter|safe }}
</form>
<br />
<h2>{% trans 'Security Issues' %}</h2>
{% if vulns %}
{% for vuln in vulns %}
<input type=hidden name=vuln_id value={{ vuln.id }} />
<table class="issues">
    <tr><th colspan="2">{{ vuln.plugin }} / {{ vuln.severity }}</th></tr>
    <tr><th>{% trans 'Issue' %} </th><td>{{ vuln.desc|escape }}</td></tr>
    <tr><th>{% trans 'HTTP Transaction' %}</td><td><textarea readonly="true">{{ vuln.http_trans|escape }}</textarea></td></tr>
</table>
<br />
<br />
{% endfor %}
{% else %}
    <p>{% trans 'There is no security issue was found.' %}</p>
{% endif %}
<script type="text/javascript">
(function($) {
    $('#severity').change(function() {
        $('#severity_form').submit();
    });
 })(django.jQuery);
</script>

{% endblock %}
