{% extends "admin/base.html" %}
{% load i18n adminmedia %}
{% load url from future %}
{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}admin/css/forms.css" />
<script type="text/javascript" src="{{ STATIC_URL }}admin/js/jquery.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}admin/js/jquery.init.js"></script>
{% endblock %}

{% block title %}{% trans 'Vulnerability Report' %}{% endblock %}
{% block content %}
<h2>{% trans 'Scan information' %}</h2>
<table class="targets">
    <tr>
        <th>{% trans 'Targets' %}</th>
        <td>{{ target|escape }}</td>
     </tr>
</table>
<br/>
<form id="severity_form" action="" method="get">
    <span  style="padding:0px 5px;">
    {% trans 'Filter by severity:' %} 
    {{ severity_filter|safe }}
    </span>
    <span  style="padding:0px 5px;">
    <input type="checkbox" id="false_positive"
        name="false_positive"
        value="1" 
        {% if show_false_positive %} checked
        {% endif %} >
    {%trans 'Show false positive'%}
    </input>
    </span>
</form>

<br />
<h2>{% trans 'Security Issues' %}</h2>
{% if vulns %}
{% for vuln in vulns %}
<input type=hidden name=vuln_id value={{ vuln.id }} />
<table class="issues">
    <tr><th colspan="2">{{ vuln.plugin }} / {{ vuln.severity }}</th></tr>
    <tr><th>{% trans 'Issue' %} </th><td>{{ vuln.desc|escape }}</td></tr>
    <tr><th colspan=2>
    <a target=_blanck href='/http_transaction/{{ vuln.id }}'> {% trans 'HTTP Transaction' %}</a>
    <br>
    </th>
    <!--<textarea readonly="true">{{ vuln.http_trans|escape }}</textarea></td>
    -->
    </tr>
    <tr><th colspan="2">
    <div>
            <a href="#" class="markFalsePositive" 
            id="mark_false_positive_{{ vuln.id }}">
            {% if vuln.is_false_positive %}
            {% trans 'Unmark False Positive' %}
            {% else %}
            {% trans 'Mark issue as False Positive' %}
            {% endif %} 
            </a>
            {% block extra_vulnerability %}
            {% endblock %}
    <div/>
    </th></tr>
</table>
<br />
<br />
{% endfor %}
{% else %}
    <p>{% trans 'There is no security issue was found.' %}</p>
{% endif %}
<script type="text/javascript">
(function($) {
    $('#severity').change(function() {
        $('#severity_form').submit();
    });
    
    $('#false_positive').change(function() {
        $('#severity_form').submit();
    });
    
    var mark_false_positive_label = "{% trans 'Mark issue as False Positive' %}"
    var unmark_false_positive_label = "{% trans 'Unmark False Positive' %}"
    function mark_false_positive(form_id) {
        data = {
            'vuln_id': form_id,
            'csrfmiddlewaretoken': '{{ csrf_token }}'
        }
    
        $.post('/mark_vuln_false_positive/', data, function(data){
            if (data.status == 'ok') {
                var false_positive_link = $('#mark_false_positive_'+form_id);
                if (data.is_positive) {
                    false_positive_link.text(unmark_false_positive_label);
                }
                else {
                    false_positive_link.text(mark_false_positive_label);
                }
            }
            else {
                alert("Something goes wrong, try again...");
            }
            }, 'json');
    }

    $('a.markFalsePositive').click(function() {
         form_id=this.id.split('_');
         mark_false_positive(form_id[form_id.length-1]);
         return false;
     });

})(django.jQuery);
</script>

{% endblock %}
